.dashboard {
  text-align: center;
  margin-top: 80px;
}

.dashboard button {
  padding: 15px 30px;
  font-size: 18px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard button:hover {
  background: darkgreen;
}
